@charset "UTF-8";
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.logotext {
    height: 100%;
    padding: 15px;
    width: auto;
}

.clickedButton{
    color: white;
    background-color: red;
}

.tableFont{
    color: green;
}

.tableHead{
    color: blueviolet;
    font-weight: 800;
    font-style: italic;
}

#dashboard {    
    width: 112px;    
    background-color: rgb(110,138,195);    
    padding: 20px 20px 0 20px;    
    position: absolute;    
    top: 250px;
    left: -92px;    
    z-index: 100; 
} 
    
#dashboard img {  
    margin-bottom: 20px;    
    border: 1px solid rgb(0,0,0); }