@charset "UTF-8";
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.logotext {
    height: 100%;
    padding: 15px;
    width: auto;
}


.pullquote {
    float: right;
    clear: right;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 211, 224, 0.5);
    border-radius: 10px;
    margin: 20px 0 10px 10px;
    font-style: italic;
}

.pq {
    font-size: 20px;
    font-style: oblique;
}